/*
Google Fonts Families:
font-family: 'Passion One', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald|Passion+One:400,700,900');

body{
	background-color: #ffffff;
}

p,label{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.header, .wrapper{
	margin: 20px auto;
	display: block;
	background-color: #ffffff;
}

.white{
	color: #ffffff;
}

.wrapper{
	width: 98%;
	max-width: 1200px;
}

.header{
	width: 98%;
	padding: 4px 0;
}

#content{
    margin: 0 auto 12px auto;
    width: 98%;
    display: block;
    overflow-y: auto;
}

.taglines{
	width: 75%;
	padding: 0 5px 0 0;
	display: inline-block;
	clear: both;
}

.loginHeader{
	width: 23%;
	padding: 0 5px;
	display: inline-block;
	float: right;
}

.site_title, .site_subtitle{
	margin-top: 4px;
	display: inline-block;
	font-family: 'Passion One', cursive;
}

.site_title a:link, .site_title a:visited{
	color: #6075A7;
	text-decoration: none;
	-webkit-transition: color 1.5s ease-out;
  	-moz-transition: color 1.5s ease-out;
  	-o-transition: color 1.5s ease-out;
 	 transition: color 1.5s ease-out;
}

.site_title a:hover{
	color: #424B5A;
	text-decoration: none;
	-webkit-transition: color 1.5s ease-out;
  	-moz-transition: color 1.5s ease-out;
  	-o-transition: color 1.5s ease-out;
 	 transition: color 1.5s ease-out;
}

#navigation, .deep_blue_block{
	background-color: #424B5A;
}

#navigation ul{
    margin: 0 auto 0 0;
    padding: 0;
    display: block;
    text-align: left;
}

#navigation li{
	display: inline-block;
	background-color: #424B5A;
	padding: 4px 8px;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.15em;
	-webkit-transition: background-color 1s ease-out;
  	-moz-transition: background-color 1s ease-out;
  	-o-transition: background-color 1s ease-out;
 	 transition: background-color 1s ease-out;
}

#navigation li:hover{
	background-color: #647FA8;
	-webkit-transition: background-color 1s ease-out;
  	-moz-transition: background-color 1s ease-out;
  	-o-transition: background-color 1s ease-out;
 	 transition: background-color 1s ease-out;
}

.nav_link_list li>a:link, .nav_link_list li>a:visited, .nav_link_list li>a:hover{
	color: #f4f4f4;
	text-decoration: none;
}


/* Headers for inside of feed pages. */
.page_title{
	display: inline-block;
    margin-bottom: 4px;
    font-family: oswald;
}

.page_subtitle{
	display: inline-block;
    margin-bottom: 4px;
    font-family: oswald;
}

.white_subtext_header{
	display: inline-block;
    padding: 4px;
    float: right;
    margin-top: 3em;
}

/* Holds images inside of the feed wrapper for now. */
img{
	max-width: 98%;
	display: block;
}

.search_sources,.search_sources_box{
	font-size: 1.2em;
}

.search_sources_box{
	width: 275px;
	text-transform: capitalize;
}

.item, .item_nonstory{
	width: 98%;
    position: relative;
	border-bottom: 1px solid grey;
}

.item img,.story_content img{
	max-width: 98% !important;
}

#stories{
	font-size: 16px;
}

.story_title{
	font-family: 'Oswald', sans-serif;
	margin-bottom: 8px;
	letter-spacing: 2px;
	max-width: 925px;
}

.story_content{
	font-family: 'Montserrat', sans-serif;
	width: 98%;
	font-size: 16px;
}

/*This should force really link anchor elements to be within the stories container.
They will scroll horizontally.
*/
.story_content>a,.story_content>p>a,.story_content>*>a,.story_content>p>p>a,.story_content>*>*>a,.story_content>figure,.story_content>p>figure,.story_content>*>figure,.story_content>p>p>figure,.story_content>*>*>figure{
	max-width: 100%;
	overflow: auto;
}

figure{
	max-width: 100%;
	overflow: scroll;
}

.source{
	font-style: italic;
	color: #a5a5a5;
}

.source a:link, .source a:visited{
	font-style: inherit;
	color: #a5a5a5;
	text-decoration: none;
}

.source a:hover{
	color: #a3a3a3;
	text-decoration: underline;
}

.long_text_hider{
    height: 24em;
    padding: 2px;
    overflow: hidden;
	position: relative;
	opacity: 0.92;
}

.long_text_hider:hover{
	opacity: 0.75;
}

.long_text_hider>.read_more{
	display: block;
	visibility: visible;
}

.read_more{
    width: 100%;
    padding: 2px 0;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-color: #009900;
    clear: both;
    display: none;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    font-size: 24px;
}

/* 
Subscribe and unsubscribe button text.
*/

.unsubscribe_btn{
	color: white;
    cursor: pointer;
    padding: 4px;
    background: orangered;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin: 4px 0;
}

.subscribe_btn{
	color: white;
    cursor: pointer;
    padding: 4px;
    background: #009900;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin: 4px 0;
}

/* Managing sources forms CSS */
.formWidth{
	width: 80%;
}

/* Facade Buttons */
.facade-pointer:hover{
	cursor: pointer;
}

/*
	Mod Points Styles
*/

.funny{
	background: #ffffff;
	padding: 4px;
	border: 1px solid #f4df42;
	color: #000000;
}

.funny:hover{
	background: #f4df42;
	border: 1px solid #f4df42;
	color: #000000;
	cursor: pointer;
}

.relevant{
	background: #ffffff;
	padding: 4px;
	border: 1px solid #00a34c;
	color: #000000;
}

.relevant:hover{
	background: #00a34c;
	padding: 4px;
	border: 1px solid #00a34c;
	color: #ffffff;
	cursor: pointer;
}

.interesting{
	background: #ffffff;
	padding: 4px;
	border: 1px solid #0056a2;
	color: #000000;	
}

.interesting:hover{
	background: #0056a2;
	padding: 4px;
	border: 1px solid #0056a2;
	color: #ffffff;
	cursor: pointer;
}

/* Some custom breakpoint overrides for bootstrap.
	This is primarily going to be to fix/make the format of the navigation better.*/
	
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#navigation li{
		clear: both;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.temp{display: none;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.temp{display: none;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.temp{display: none;}
}